In [1]:
#smiple printing a msg
print("helo world")

helo world

In [4]:
#variables
name = "Ania shams,"
age = 20
education = "bscs"
print(name, age, education)

Ania shams, 20 bscs

In [5]:
#taking input from your
input("what is your name")

what is your nameania

'ania'

In [7]:
#string concatination 
name = input("what is your name? ")
print("hello " + name)

what is your name? ania
hello ania

In [8]:
#type conversion
birth_year = input("enter your date of birth")
int(birth_year)
age = 2023 - int(birth_year)
print(age)

enter your date of birth2003
20

In [9]:
# build in functions 
# int() float() boo() str()

In [11]:
num1 = 5
num2 = 20
sum = num1 + num2
print(sum)

25

In [19]:
num1 = input("first ")
num2 = input("second ")
sum = int(num1) + int(num2)
print("sum", sum)

first 10
second 10
sum 20

In [20]:
# strings
course = "python for beginners"
print(course.upper())

PYTHON FOR BEGINNERS

In [21]:
print(course.lower())

python for beginners

In [25]:
print(course.find('r')) # find tells us the index number of letters in the sentence

9

In [26]:
print(course.replace('for', '4'))

python 4 beginners

In [31]:
print(course.find('python'))

0

In [30]:
print('pythons' in course)  # in operator

False

In [29]:
print('python' in course)

True

In [35]:
# Arithmetic operators
print(12+11)
print(10-20)
print(12/10)
print(12%6)
print(10*12)
print(11 ** 2)

23
-10
1.2
0
120
121

In [37]:
x = 10
x += 3   # augumented assignment operators
print(x)

13

In [38]:
# operator precedence 
x = 2 + 5 * 4 
print(x)

22

In [41]:
# comparision operators < <= > >= == !=
x = 5>3
print(x)

True

In [2]:
# logical operators
# and => returns true when both are true
# or returns true if one is true
# not inverses the given value
price = 30
print(price > 10 and price < 40)

True

In [3]:
print(price > 12 or price < 40)

True

In [5]:
print(not price > 12)

False

In [8]:
# IF statement
temperature = 45                    # fulfiling the condition
if temperature > 30:
    print("it's hot day")
    print("drink plenty of water")

it's hot day
drink plenty of water

In [9]:
temperature = 20
if temperature > 30:
    print("its hot day")

elif temperature > 15:
    print("it's pleasent whether")

it's pleasent whether

In [3]:
my_weight = int(input("weight"))
unit = input("(K)g or (L)bs")
if unit.upper() == "K":
    converted == weight / 0.45
    print("Weight in Lbs" + str(converted))
else:
    converted = weight * 0.45
    print("weight in Kgs:" + str(converted))

weight12
(K)g or (L)bsL

NameError: name 'converted' is not defined

In [9]:
# while loop it is use to itrate 
i = 1 
while i <= 5:
    print(i * "*")
    i = i+1

*
**
***
****
*****

In [10]:
#list
names = ["john", "bob", "harry", "sam", "marry"]
names

['john', 'bob', 'harry', 'sam', 'marry']

In [11]:
print(names[0])

john

In [12]:
print(names[-1])

marry

In [14]:
print(names[-2])

sam

In [15]:
names[0] = "jon"
names

['jon', 'bob', 'harry', 'sam', 'marry']

In [16]:
print(names[0:3])

['jon', 'bob', 'harry']

In [17]:
number = [1, 2, 3, 4, 5]
number

[1, 2, 3, 4, 5]

In [21]:
#list methods
number.append(6)
number

[1, 2, 3, 4, 5, 6, 6, 6, 6]

In [22]:
number.insert(0, -1)
number

[-1, 1, 2, 3, 4, 5, 6, 6, 6, 6]

In [23]:
number.remove(6)
number

[-1, 1, 2, 3, 4, 5, 6, 6, 6]

In [24]:
number.clear()
number

[]

In [25]:
print(1 in number)

False

In [26]:
print(len(number))

0

In [1]:
# for loop
numbers = [1, 2, 3, 4, 5]
for item in numbers:
    print(item)

1
2
3
4
5

In [4]:
# range function generate sequnce of numbers
numbers = range(5)
for number in numbers:
    print(number)

0
1
2
3
4

In [6]:
numbers = range(5, 10)
for number in numbers:
    print(number)

5
6
7
8
9

In [7]:
numbers = range(1, 11, 2)
for number in numbers:
    print(number)

1
3
5
7
9

In [8]:
# instead ofabove three 3 we can do
for number in range(5):
    print(number)

0
1
2
3
4

In [13]:
#tuples same like list
numbers = (1, 2, 3, 4, 4)
print(numbers)

(1, 2, 3, 4, 4)

In [16]:
numbers.index(1)

0

In [15]:
numbers.count(4)

2